body {
    font-family: Helvetica;
}

.site-footer,
.site-header {
    color: white;

    logo {
        font-size: x-large;
    }

    a {
        color: white;
    }
}

.tag-box > * {
    font-family: monospace;
}

.img-caption {
    font-size: small;
    color: white;
}

.author {
    b {
        font-size: smaller;
        color: gray;
    }
}

.cap-js {
    color: orange;
    font-size: x-small;
}

.cap-css {
    color: white;
    font-size: x-small;
}

.code-example code {
    color: white;
}