body {
    background-color: darkblue;
    margin: 0px;
}

header.site,
footer {
    align-items: center;
    background-color: #00004c;
    height: 30px;
    padding: 20px;
    /* total height = 20*2px + 30px = 70px */
    display: flex;

    nav.site.nav {
        margin-left: auto;
        display: flex;

        a {
            margin-right: 15px;
        }

        a:hover {
            text-decoration: underline;
        }
    }

}

.fc {
    display: flex;
    flex-flow: row wrap;

    .article.nav {
        flex: 1;
        height: fit-content;
        margin-right: 20px;
    }

    .article.body {
        flex: 5;
    }
    
    .article {
        margin: 20px;
        background-color: white;
        padding-left: 20px;
        padding-right: 20px;
    }
}


div.pc.main {
    background-color: white;
    border-top: 4px solid rgba(128, 128, 128, 0.086);
    border-bottom: 4px solid rgba(128, 128, 128, 0.086);
    padding-left: 20px;
    min-height: calc(100vh - 148px); /* Sets min height of the div to be vh - footer + header height + borders heights */
}

td,
th {
    border-bottom: 1px solid;
    padding: 15px;
}

tbody tr:hover {
    background-color: whitesmoke;
}