body {
    background-color: #f6f6f6;
}

.fc-mid {
    background-color: white;
    margin: 0px 50px 0px 50px;
    display: flex;
    flex-flow: column wrap;
    min-width: 75%;
}

.fc-mid>* {
    padding: 20px;
    flex: 1;
}

.fc-main {
    display: flex;
    flex-flow: row wrap;
    min-height: calc(100vh - 16px);
}

.fc-main .whitespace {
    flex: 1;
}

.img-caption {
    position: absolute;
    padding: 5px;
    background-color: black;
    margin-top: -18px;
}

.img-box {

    position: relative;
    max-width: 800px;

    img {
        max-width: 100%;
        height: auto;
    }
}

.whitespace {
    background-color: transparent;
}

.tag-box>* {
    display: inline-block;
    background-color: aliceblue;
    border-radius: 1em;
    padding: 10px;
    margin-right: 5px;
}

.author {
    border-left: 3px solid darkblue;
    margin-left: 60px;
}

.code-example code {
    background-color: #1f1f1f;
    padding: 15px;
}

.code-example {
    position: relative;
}

.code-example figcaption {
    background-color: gray;
    width: fit-content;
    position: relative;
    margin-left: 5px;
}

header.site,
footer {
    align-items: center;
    background-color: #00004c;
    max-height: 30px;
    padding: 20px;
    /* total height = 20*2px + 30px = 70px */
    display: flex;

    nav.site.nav {
        margin-left: auto;
        display: flex;

        a {
            margin-right: 15px;
        }

        a:hover {
            text-decoration: underline;
        }
    }

}

td,
th {
    border-bottom: 1px solid;
    padding: 15px;
}

tbody tr:hover {
    background-color: whitesmoke;
}